<!doctype html>
<html>
<head>
<title>Topology Creator</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet" type="text/css"/>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">

				<div class="row">
					<div class="col-md-12">
						<h3 class="text-primary">Topology Generator</h3>
						<ul class="nav nav-tabs">
							<li class="disabled"><a href="#">Topology definitions</a></li>
							<li class="active"><a href="/">Topology</a></li>
							<li class=""><a href="/params">Simulation Parameters</a></li>
							<li class=""><a href="/simulation">Simulations</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<h4>Topology list</h4>
						<div id="tplglist" class="">
							{% for tplgName in topologyNames %}
							<a class="btn btn-default btn-lg btn-block tplg {% if currentTopology != None and tplgName == currentTopology.name %}active{% endif %}" href="/topology/edit/{{ tplgName }}">
								<div class="topology-name">
									{{ tplgName }} 
								</div>
							</a>
							{% endfor %}
							<a class="btn btn-default btn-lg btn-block tplg {% if currentTopology == None %}active{% endif %}" href="/topology">
								<div class="topology-name">
									<i> New Topology </i>
								</div>
							</a>
						</div>
					</div>
					<script>var currentTopology</script>
					{% if currentTopology != None %}
					<script>currentTopology = {{currentTopology | tojson}}</script>
					{% endif %}
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-4">
								<form class="form-inline">
									<div class="form-group">
										<label for="topologyName">Name</label> <input type="text"
											class="form-control" id="topologyName" value="{{currentTopology.name}}">
									</div>
								</form>
								<div class="tabbable" id="tabs-878778">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#area-panel"
											data-toggle="tab">Area Definition</a></li>
										<li class=""><a href="#meter-panel" data-toggle="tab">Meters</a></li>
										<li class=""><a href="#router-panel" data-toggle="tab">Routers</a></li>
										<li class=""><a href="#collector-panel" data-toggle="tab">Collectors</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="area-panel">
											<ol>
												<li>Click on the points that define the area where you
													wish to create your topology!</li>
											</ol>
											<button class="btn btn-danger" onclick="createNewArea()">Delete
												area</button>
										</div>
										<div class="tab-pane" id="meter-panel">
											<ol>
												<li>Click on the points that define the positions of
													meters</li>
											</ol>
											<button class="btn btn-secondary" onclick="getMeters()">Load
												Meters in defined area</button>
											<button class="btn btn-danger" onclick="clearMeters()">Remove
												all meters</button>
										</div>
										<div class="tab-pane" id="router-panel">
											<ol>
												<li>Click on the points that define the positions of
													routers.</li>
											</ol>
											<button class="btn btn-danger" onclick="clearRouters()">Remove
												all routers</button>

										</div>
										<div class="tab-pane" id="collector-panel">
											<ol>
												<li>Click on the points that define the positions of
													collectors.</li>
											</ol>
											<button class="btn btn-danger" onclick="clearCollectors()">Remove
												all collectors</button>

										</div>
									</div>
								</div>
								
								<br />
								<div >
									<button class="btn btn-primary" id="btnSearch"
										onclick="saveTopology()">Save Topology</button>
								</div>
							</div>

							<div class="col-md-8" id="map-container">
								<div id="map"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="/static/scripts/topology.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHIs9kVZw6UgJe7iWaHoylNCVVJcXhn4c&callback=initMap"
		async defer></script>
</body>
</html>