<!doctype html>
<html>

<head>
  <title>Topology Creator</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <link href="/static/styles.css" rel="stylesheet" type="text/css"></link>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.5.3/css/bootstrap-slider.min.css"
        rel="stylesheet"
        crossorigin="anonymous">
</head>

<body>
<div class="container-fluid">
  <div class="row header">
    <div class="col-md-12">
      <h3 class="text-primary">Topology Generator</h3>
      <ul class="nav nav-tabs">
        <li class="disabled"><a href="#">Topology definitions</a></li>
        <li class=""><a href="/">Topology</a></li>
        <li class="active"><a href="/params">Simulation Parameters</a></li>
        <li class=""><a href="/simulation">Simulations</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h4>Simulation Parameters</h4>
      <div id="paramlist" class="">
        {% for paramName in paramNames %}
        <a class="btn btn-default btn-lg btn-block param {% if currentParams != None and paramName == currentParams.name %}active{% endif %}"
           href="/params/edit/{{ paramName }}">
          <div class="params-name">
            {{ paramName }}
          </div>
        </a>
        {% endfor %}
        <a class="btn btn-default btn-lg btn-block param {% if currentParams == None %}active{% endif %}"
           href="/params">
          <div class="params-name">
            <i> New Params </i>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default content" id="simulation-runner">
        <div class="panel-body">
          <form class="form-horizontal" id="paramForm">
            <fieldset>

              <!-- Form Name -->
              <legend>{% if currentParams == None %}NEW {% endif %}Parameters</legend>

              <!-- Name input -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Name</label>
                <div class="col-md-4">
                  <input id="name" name="name" type="text" class="form-control input-md" required=""
                         value="{{currentParams.name}}">
                </div>
              </div>

              <!-- Sim time input -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="simulationTimeSlotCount">Simulation Time Slot Count</label>
                <div class="col-md-4">
                  <input id="simulationTimeSlotCount" type="number" name="simulationTimeSlotCount"
                         class="form-control input-md" required="" value="{{currentParams.simulationTimeSlotCount}}">
                </div>
              </div>

              <!-- Time slot duration -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="timeSlotDuration">Time Slot Duration (s)</label>
                <div class="col-md-4">
                  <input id="timeSlotDuration" type="number" name="timeSlotDuration"
                         class="form-control input-md" required="" value="{{currentParams.timeSlotDuration}}">
                </div>
              </div>

              <!-- Up-link mean time gen. -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="uplinkMeanGenerationTime">Up-link Mean Generation Time
                  (h)</label>
                <div class="col-md-4">
                  <input id="uplinkMeanGenerationTime" type="number" name="uplinkMeanGenerationTime"
                         class="form-control input-md" required="" value="{{currentParams.uplinkMeanGenerationTime}}">

                </div>
              </div>

              <!-- Down-link mean gen time -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="downlinkMeanGenerationTime">Down-link Mean Generation Time
                  (h)</label>
                <div class="col-md-4">
                  <input id="downlinkMeanGenerationTime" type="number" name="downlinkMeanGenerationTime"
                         class="form-control input-md" required="" value="{{currentParams.downlinkMeanGenerationTime}}">
                </div>
              </div>

              <!-- Transmit prob -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="transmissionProbability">Transmission probability (0.0 to
                  1.0) </label>
                <div class="col-md-4">
                  <input id="transmissionProbability" type="number" name="transmissionProbability"
                         class="form-control input-md" required="" value="{{currentParams.transmissionProbability}}">
                </div>
              </div>

              <!-- Number Channels  -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="numberChannels">Number of Channels</label>
                <div class="col-md-4">
                  <input id="numberChannels" type="number" name="numberChannels"
                         class="form-control input-md" required="" value="{{currentParams.numberChannels}}">
                </div>
              </div>

              <!-- Max Simultaneous Packets -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="maxSimultaneousPacketsTx">Max Simultaneous Packets in
                  Transmission</label>
                <div class="col-md-4">
                  <input id="maxSimultaneousPacketsTx" type="number" name="maxSimultaneousPacketsTx"
                         class="form-control input-md" required="" value="{{currentParams.maxSimultaneousPacketsTx}}">
                </div>
              </div>

              <!-- demandTimeout -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="demandTimeout">Timeout After Reading Requests (s)</label>
                <div class="col-md-4">
                  <input id="demandTimeout" type="number" name="demandTimeout"
                         class="form-control input-md" required="" value="{{currentParams.demandTimeout}}">
                </div>
              </div>


              <!-- Packet TTL -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="packetTTL">Packets TTL (s)</label>
                <div class="col-md-4">
                  <input id="packetTTL" type="number" name="packetTTL"
                         class="form-control input-md" required="" value="{{currentParams.packetTTL}}">
                </div>
              </div>

              <!-- Ranges -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="collectorRange">Collector Range (m)</label>
                <div class="col-md-4">
                  <input id="collectorRange" type="number" name="collectorRange"
                         class="form-control input-md" required="" value="{{currentParams.collectorRange}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="routerRange">Router Range (m)</label>
                <div class="col-md-4">
                  <input id="routerRange" type="number" name="routerRange"
                         class="form-control input-md" required="" value="{{currentParams.routerRange}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 control-label" for="smartMeterRange">Smart meter range (m)</label>
                <div class="col-md-4">
                  <input id="smartMeterRange" type="number" name="smartMeterRange"
                         class="form-control input-md" required="" value="{{currentParams.smartMeterRange}}">
                </div>
              </div>

              <!-- hasDemand -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="demand">Demand</label>
                <div class="col-md-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="demand" id="demand"
                             {% if currentParams.demand %} checked {% endif %}>
                      Enabled
                    </label>
                  </div>
                </div>
              </div>

              <!-- hasReading -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="reading">Reading</label>
                <div class="col-md-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="reading" id="reading"
                             {% if currentParams.reading%} checked {% endif %}>
                      Enabled
                    </label>
                  </div>
                </div>
              </div>

              <!-- Broadcast demand timeslots -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="broadcastDemandTimeslots">Broadcast timeslots (comma
                  separated numbers)</label>
                <div class="col-md-4">
                  <input id="broadcastDemandTimeslots" type="text" name="broadcastDemandTimeslots"
                         class="form-control input-md" required="" value="{{currentParams.broadcastDemandTimeslots|join(',')}}">
                </div>
              </div>
              <!-- Seed -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="seed">Seed</label>
                <div class="col-md-4">
                  <input id="seed" type="text" name="seed"
                         class="form-control input-md" required="" value="{{currentParams.seed}}">
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <div class="col-md-4">
                  <button type="button" class="btn btn-primary" onclick="saveParameters()">Save</button>
                </div>
              </div>

            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/static/scripts/params.js"></script>
</body>

</html>